<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Tags</title>
</head>
<body>

<h1>Liste des tags</h1>

<p><a href="/home">Accueil</a></p>
<p sec:authorize="hasRole('ADMIN')">
    <a href="/tags/add">+ Ajouter un tag</a>
</p>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom du tag</th>
        <th sec:authorize="hasRole('ADMIN')">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${tags}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.libelle}"></td>
        <td sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/tags/edit/{id}(id=${t.id})}">Modifier</a>
            <form th:action="@{/tags/{id}(id=${t.id})}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Supprimer</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
